# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
build/
!**/src/main/**/build/

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/dist/
/OnlineBookstore-ejb/dist/
/OnlineBookstore-war/dist/
/OnlineBookstore-ejb/build/
/OnlineBookstore-war/build/